# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
bin
obj

# mstest test results
TestResults

# General for Visual Studio solution files
*.user
*.suo

# ReSharper
_ReSharper.*

# NCrunch
*.ncrunchsolution
*.ncrunchproject
*.crunchsolution.cache
